<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{adminBase}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel | SubCategory</title>
</head>
<body layout:fragment="adminContent">
<script>

</script>
<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <form action="/adminPanel/subCategory/add" th:object="${subCategory}" method="post"
                  enctype="multipart/form-data">
                <div class="row mb-1 mt-5">
                    <div class="col col-md-4">
                        <label>Category name:</label>
                        <br>
                        <input th:field="*{name}" type="text" name="name" class="form-control">
                    </div>
                    <div class="col col-md-4">
                        <label>SubCategory banner image:</label>
                        <br>
                        <input type="file" name="image" class="form-control">
                    </div>
                    <div class="col col-md-4">
                        <label>Belongs to:</label>
                        <br>
                        <select name="category" class="form-control">
                            <option value="">Choose category</option>
                            <th:block th:each="cat : ${categories}">
                                <option th:value="${cat.id}" th:text="${cat.name}"></option>
                            </th:block>

                        </select>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col col-md-6">
                        <button class="btn btn-success btn-block">
                            Add
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <hr>
    <div class="row">
        <table class="table data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category Name</th>
                <th>Image</th>
                <th>Options <i class="fas fa-tools"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${subCategories}">
                <td></td>
                <td th:text="${cat.name}"></td>
                <td th:text="${cat.categoryId.name}"></td>
                <td><a href="#" th:path="${cat.bannerImageUrl}" class="view-banner">View image</a></td>
                <td>
                    <button th:id="${cat.id}" class="delete-category" title="Delete"><i class="fa fa-trash"></i>
                    </button>
                    <button th:catId="${cat.id}" class="update-sub-category" th:imagePath="${cat.bannerImageUrl}"
                            th:catName="${cat.name}" th:parentcatid="${cat.categoryId.id}" title="Update"><i
                            class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" style="">
                    <img class="card-img-top" id="img" style="height: " src="#" alt="Card image cap">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateSubCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/adminPanel/subCategory/add" enctype="multipart/form-data" method="post">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">UpdateModal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id">
                    <input type="hidden" name="bannerImageUrl" th:field="*{name}">
                    <input type="text" name="name" class="form-control">
                    </br>
                    <input type="file" name="image">
                    </br>
                    <select class="form-control" name="category" id="select">
                        <option value="">Choose category</option>
                        <th:block th:each="cat : ${categories}">
                            <option th:value="${cat.id}" th:text="${cat.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>

</body>

</html>